
@{
    ViewBag.Title = "Requisito";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <h2>Agregar incidencia</h2>
        <p class="mb-4">Todos los campos señalados con un "*" son oblogatorios</p>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-lg-6">

                <!-- Default Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><span>A4-One Web</span>Agregar un boton nuevo</h6>

                    </div>
                    <div class="card-body">
                       Agregar un boton nuevo donde el administrador tenga un acceso a una vista del empleado
                    </div>
                </div>



            </div>

            <div class="col-lg-6">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><span>A4-One Web</span> Mostrar el precio total</h6>

                    </div>
                    <div class="card-body">
                        En el catalogo de videojuegos, mostrar el precio total de dinero almacenado dependiendo los productos en bodega
                    </div>
                </div>
            </div>

        </div>

    </div>s
</div>

<script>
    $(function () {
        GlobalClientes.init();
    });
</script>