@{
    ViewBag.Title = "_Footer";
}
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 white_fonts">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="full">
                            <img class="img-responsive" src="@Url.Content("~/Content/images/footer_logo.png")" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="full">
                            <h3>Atajos</h3>
                        </div>
                        <div class="full">
                            <ul class="menu_footer">
                                <li><a href="home.html">> Inicio</a></li>
                                <li><a href="about.html">> Hacerca</a></li>
                                <li><a href="exchange.html">> Extencion</a></li>
                                <li><a href="services.html">> Sevicios</a></li>
                                <li><a href="new.html">> Nuevo</a></li>
                                <li><a href="contact.html">> Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="full">
                            <div class="footer_blog full white_fonts">
                                <h3>Nuevas noticias</h3>
                                <p>Sí quieres recibir noticias de nuestras novedades, inserte su correo</p>
                                <div class="newsletter_form">
                                    <form action="index.html">
                                        <input type="email" placeholder="Tú correo" name="#" required="">
                                        <button>Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="full">
                            <div class="footer_blog full white_fonts">
                                <h3>Contactanos</h3>
                                <ul class="full">
                                    <li><img src="@Url.Content("~/Content/images/i5.png")" ><span>London 145<br>United Kingdom</span></li>
                                    <li><img src="@Url.Content("~/Content/images/i6.png")"><span>demo@gmail.com</span></li>
                                    <li><img src="@Url.Content("~/Content/images/i7.png")"><span>+12586954775</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="crp">© Copyrights 2019 design by html.design</p>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

