
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <div class="text-center">
        <div class="error mx-auto" data-text="404">403</div>
        <p class="lead text-gray-800 mb-5">Pagina no valida</p>
        <p class="text-gray-500 mb-0">Usted no tiene autorización para acceder a esta pagina</p>
        <a href="index.html">&larr; Volver al incio</a>
    </div>

</div>

