
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //var Proyectos = (List<Project_Manager.Services.BO.TblProyectosBO>)ViewBag.ProyectoList;
}

<div class="card">
    <div class="card-header">
        <h2>Agregar Empleado</h2>
        <p class="mb-4">Todos los campos señalados con un "*" son oblogatorios</p>
    </div>
    <div class="card-body">
        <form method="post" id="frmCreate">
            <div class="group form-group">
                <input type="hidden" class="form-control" asp-for="chofer.id_chofer">
                <fieldset>
                    <legend>Datos personales</legend>
                    <div class="row col-lg-12">
                        <div class="col-md-4">
                            <label class="label">Nombre del Empleado*</label>
                            <input type="text" class="form-control" id="txtNombre">
                        </div>
                        <div class="col-md-4">
                            <label class="label">Apellido Paterno*</label>
                            <input type="text" class="form-control" id="txtApellidoP">
                        </div>
                        <div class="col-md-4">
                            <label class="label ">Apellido Materno*</label>
                            <input type="text" class="form-control" id="txtApellidoM">
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="col-lg-5">
                            <label class="label">Telefono celular*</label>
                            <input type="text" class="form-control input-number" id="txtCelular">
                        </div>
                        <div class="col-lg-4">
                            <label class="label">Fecha de nacimiento*</label>
                            <input id="txtfecha" type="date" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label asp-for="veh.modelo" class="label">Genero*</label>
                            <select asp-for="veh.modelo" class="form-control col-md-12" id="txtGenero">
                                <option selected disabled>--Seleccione--</option>
                                <option value="F">Femenino</option>                              
                                <option value="M">Masculino</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="row col-lg-12">
                        @if (Proyectos.Count != 0)
                        {
                            <div class="col-md-6">
                                <label for="cmbEstacionesBio">Empresa dueña*</label>
                                <select class="form-control" id="cmbEstacionesBio" name="cmbEstacionesBio" onchange="det.estacionesChange(this)">
                                    <option value="0">-Seleccionar una estación</option>
                                    @foreach (var est in Proyectos)
                                    {
                                        <option value="@est.Folio">@string.Format("{0}", est.NombreProyecto) </option>
                                    }
                                </select>
                            </div>
                        }
                        else
                        {
                            <div></div>
                            <div class="col-md-6">
                                <h2>No se encontro ninguna Empresa</h2>
                            </div>
                        }
                    </div>*@
                    <legend>Datos De Cuenta</legend>
                    <div class="row col-lg-12">
                        <div class="row col-lg-12">
                            <div class="col-md-8">
                                <label class="label">Correo Electronico*</label>
                                <input type="text" class="form-control" id="txtCorreo">
                            </div>
                            <div class="col-md-4">
                                <label class="label">Nombre de usuario*</label>
                                <input type="text" class="form-control" id="txtUsuario">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="label">Contraseña*</label>
                            <input type="password" class="form-control" id="txtPreContraseña">
                        </div>
                        <div class="col-md-6">
                            <label class="label">Confirme Contraseña</label>
                            <input type="password" class="form-control" id="txtContraseña">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="group">
                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/Employees.js"></script>
<script>
    $(function () {
        Employees.init();
    });
</script>


